* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 5px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
}

nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #6F6F73;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
}

nav ul li.logo {
    flex: 1;
    color: #222226;
    font-size: 32px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: #222226;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    transition: .4s;
}

nav ul li:hover a {
    color: #6F6F73;
}

@media all and (max-width: 900px) {
    nav {
        padding: 5px 30px;
    }
    
    nav ul li.items {
        width: 100%;
    }

    nav ul li.items:hover {
        border-radius: 5px;
        box-shadow: inset 0 0 5px #6F6F73;
        box-shadow: inset 0 0 10px #222226;
    }

    nav ul li.items:hover:after {
        opacity: 0;
    }
}


body {
    background-color: white;
    font-weight: 500;
    /* display: flex; */
    align-items: left;
    min-height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(./img/romantic-african-woman-with-trendy-hairstyle-sitting-at-her-workplace-and-analysing-data-indoor-portrait-of-black-female-student-working-with-laptop-before-exam.jpg);
    min-height: 100vh; /*AJUSTE RESPONSIVIDADE*/
    min-width: 100vw; /*AJUSTE RESPONSIVIDADE*/
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem; /*AJUSTE RESPONSIVIDADE*/
    margin-top: 50px;
}

main h1 {
    color: #6F6F73;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center; /*AJUSTE RESPONSIVIDADE*/
}

main .social-media {
    display: flex;
    align-content: center;
}

main .social-media {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: #222226;
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: #222226;
}

main .alternative span::after {
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.3rem;
    margin-top: 3.9rem;
}

main form input {
    background: white;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: #222226;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #222226;
    color: white;
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #222226
}

@media only screen and (max-width: 900px) {
    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}