/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 5px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
}

nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #8a8d8d;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
}

nav ul li.logo {
    flex: 1;
    color: black;
    font-size: 32px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: black;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    transition: .4s;
}

nav ul li:hover a {
    color: #8a8d8d;
}

@media all and (max-width: 900px) {
    nav {
        padding: 5px 30px;
    }
    
    nav ul li.items {
        width: 100%;
    }

    nav ul li.items:hover {
        border-radius: 5px;
        box-shadow: inset 0 0 5px #8a8d8d;
        box-shadow: inset 0 0 10px #161616;
    }

    nav ul li.items:hover:after {
        opacity: 0;
    }
}

body {
    font-weight: 500;
    font-family: "Graphik-Medium", "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    min-height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(img/mulher\ otimizada.jpg);
    min-height: 100vh; /*AJUSTE RESPONSIVIDADE*/
    min-width: 100vw; /*AJUSTE RESPONSIVIDADE*/
}


@media only screen and (max-width: 900px) {
    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

}


/*CARDS*/

main.cards {
    display: grid;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 120%;
    margin: 16px 0;
    color: black;
}

main.cards section.card span {
    font-weight: 600;
    max-width: 240px;
    font-size: 84%;
    margin-bottom: 16px;
    color: black;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}


main.cards section.card.simule button {
    background: linear-gradient(to right, #222226, #6F6F73);
}

main.cards section.card.simule button:hover{
    background:#999999;
    transition: all 600ms ease;

}

main.cards section.card.preencha button {
    background: linear-gradient(to right, #222226, #6F6F73);
}

main.cards section.card.preencha button:hover{
    background:#999999;
    transition: all 600ms ease;
}


main.cards section.card.aguarde button {
    background: linear-gradient(to right, #222226, #6F6F73);
}

main.cards section.card.aguarde button:hover{
    background:#999999;
    transition: all 600ms ease;

}




/* main.cards section.card.simule {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.preencha {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.aguarde {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
} */

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}