*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	
	
	
	
}

body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	
	
}

section{
	flex-grow:1;

}

nav{
	height: 80px;
	width: 100%;
	background: #4050b6;
}

.logo{
	padding:0 0px;
	line-height: 80px;
	width: 94px;
	height: 80px;
	margin:0;
	left: 80px;

	
}

nav ul{
	float: right;
	margin-right:80px;
	

}

nav li{
	display: inline-flex;
	margin: 0 8px;
	line-height: 80px;
	
	
}

nav a{
	color: rgb(236, 234, 234);
	font-size: 18px;
	border: 1px solid transparent;
	padding: 3px 10px;
	border-radius: 2px; 
	
}

a.active,a:hover{
	color: rgb(36, 35, 35);
}

nav ul{
	margin-left: 20px;
}

nav a{
	font-size: 17px;
}

nav #icon{
	color:white;
}

#search-icon{
	position: absolute;
	padding: 20px;
	margin-right: 40px;
	
	
}

footer{
	position: fixed;
	bottom: 0;
	width: 100vw;
	background: #1f1f24;
	text-align: center;
}

footer h3, p{
	color: rgb(207, 135, 135)
}
footer img:hover{
	transform:scale(1.3);
	z-index: 2;


}

.bloco-formulario {
	align-content: stretch;
}


h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: black;
	text-align: center;
	margin-top: 20px;
    
}

input, textarea {
    width: 210px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
	
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: gray;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: rgb(216, 213, 213);
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
	align-content: center;
	margin-right: 250px;
  

}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

input{
    width: 400px;

}

main{
	display: flex;
	height: 100vh;
	width: 100vw;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 450px;
}



.header{
	background-color: #4050b6;
	color: white;
	font-size: .8em;
	padding: 3px 0;
	border-radius: 10px 10px 0 0;

}

button{
	width: 210px;
	height: 50px;
	border-radius: 10px;
	margin-top:120px;
	background-color: #4050b6;
	color: white;
}

button:hover{
	background-color:  #172375;;

}

button:active

.content{
	margin: 20px 0;
}

.estudante{
	height:50%;
	width: 500px;
	display: flex;	
	margin-left: -50px;
	margin-top: 0;
	
}

